<div class="container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" class="form-control" name="username" [(ngModel)]="username" required>
    </div><pre></pre>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password" required>
    </div><pre></pre>
    <button type="submit"  [disabled]="loginForm.invalid">Login</button>
  </form>
  <p class="alert-info" *ngIf="loginAttempt">Login attempt submitted: {{ loginAttempt }}</p>
</div>
